/* style add for all element */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}a:hover{
  color: white;
}

/* style for body */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #0f0c29; */
  /* background-color: #dddde3; */
  background-color: #a8a8c6;
  color: white;
}

/* style root div */
#root{
  width: 80%;
  /* border-right: 1px solid #323232; */
  /* border-left: 1px solid #323232; */
}

/* style navbar component ---------------------------------*/
.navbar{
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0px 20px;
  justify-content: space-between;
  /* border-bottom: 1px solid #323232; */
}
.right-nav{
  display: flex;
  align-items: center;
}
.right-nav h5{
  color: #DDDDDD;
  margin-right: 10px;
}
.addhabit-btn{
  cursor: pointer;
  /* color: rgb(24, 23, 23); */
  background-color: #3662CC;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  font-weight: 700;
  columns: white;
}

/* modal */
.modal-content{
  background-color: #3a7bd5; 
  color: black;
  font-size: large;
}
.modal-header{
  border: none;
}
.modal-footer{
  border: none;
}
/* ---------------------------------------------------- */

/* habits components style------------------------------ */
.habits{
  width: 100%;
}

/* habit under habits component */
.habit{
  width: 100%;
  height: 100px;
  /* border-bottom: 1px solid #323232; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: black;
}
.habit:hover{
  background-color:  #3a7bd5; 
  color: white;
}

.habit-left{
  display: flex;
  align-items: center;
}
.habit-left i{
  color: #2AA8D0;
  padding: 10px;
  border-radius: 50%;
  background-color: #304950;
  margin-right: 10px;
}
.day-complete{
  /* color: #767475; */
  font-size:small;
}
.habit-right{
  display: flex;
  align-items: center;
}
.log-btn{
  text-decoration: none;
  cursor: pointer;
  background-color: #424242;
  padding: 10px;
  border-radius: 7px;
  margin-right: 10px;
  color: white;
  border: none;
}
.log-btn:hover{
  color: white;
}
.log-btn i{
  margin-right: 5px;
}
.fa-trash{
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
   color: white;
  background-color: #424242;
}
/* ------------------------------------------------------*/

/* style week view container --------------------------- */
.days-container{
  margin: 20px 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* style day view component */
.day-container{
  height: 150px;
  width: 200px;
  /* background-color: #2942e4; */
  background-color: #2980b9;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
}
.icon-group {
  display: inline-flex;
  justify-content: space-around;
  margin-left: 15px;
  margin-top: 10px;
}
p{
  margin: 0%;
}
.circle-icon{
  font-size: 24px;
  margin: 5px 11px;
  /* color: #f22304; */
  cursor: pointer;
}
.active{
  color: #09d8ab ;
}
/* ------------------------------------------------------*/